/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */

.site{
  margin: 0 auto !important;
}

body{
  width: 100% !important; 
  height: 100% !important;
  overflow-x: hidden; 
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.gray{
  color:#4D5359;
  font-family: 'Raleway', sans-serif;
  font-weight: 600; 
}
.green{
  color: #225438;
  font-family: 'Oswald', sans-serif;
  font-weight: 500; 
}
.brown{
  color: #4A4238;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.dust{
  color:#E9D2C0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}


@media (min-width: 350px) {
   .header-text{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 50px; 
    text-align: center; 
  }
  .quote-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 20px; 
    text-align: center; 
  }
  .margin-header{
    margin-top: 40px; 
  }
  .margin-quote{
    margin-top: 8px; 
  }
  .basic-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 14px; 
    text-align: center;
  }
  .small-header{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 22px; 
    text-align: center; 
  }
}
 }

@media (min-width: 768px) {
    .header-text{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 60px; 
    text-align: center; 
  }
  .quote-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 24px; 
    text-align: center; 
  }
  .margin-header{
    margin-top: 50px; 
  }
  .margin-quote{
    margin-top: 10px; 
  }
  .basic-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 15px; 
    text-align: center;
  }
  .small-header{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 24px; 
    text-align: center; 
  }
}

@media (min-width: 992px) { 
  .header-text{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 75px; 
    text-align: center; 
  }
  .quote-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 27px; 
    text-align: center; 
  }
  .margin-header{
    margin-top: 60px; 
  }
  .margin-quote{
    margin-top: 13px; 
  }
  .basic-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 15px; 
    text-align: center;
  }
  .small-header{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 26px; 
    text-align: center; 
  }
}

@media (min-width: 1200px) {
  .header-text{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 80px; 
    text-align: center; 
  }
  .quote-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 30px; 
    text-align: center; 
  }
  .margin-header{
    margin-top: 80px; 
  }
  .margin-quote{
    margin-top: 20px; 
  }
  .basic-text{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: 400; 
    font-size: 18px; 
    text-align: center;
  }
  .small-header{
    font-family: 'Oswald', sans-serif;
    color: #ffffff; 
    font-weight: 400; 
    font-size: 30px; 
    text-align: center; 
  }
  
 }

